* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', Sans-serif;
}

html, body {
  height: 100%;
}

.sectionGeral {
  width: 30%;
  height: 100%;
  text-align: center;
  position: fixed;
  background-color: dimgray;
}

.sectionGeral .container {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sectionGeral .container .foto img {
  width: calc(70% + 32px);
  border-radius: 50%;
  border: 7px solid whitesmoke;
}

.sectionGeral .container .menu {
  padding: 16px 4%;
}

.sectionGeral .container .menu li {
  margin-bottom: 10px;
  position: relative;
  list-style-type: none;
  letter-spacing: 2.4px;
}

.sectionGeral .container .menu li a {
  color: whitesmoke;
  text-decoration: none;
}

.sectionGeral .container .menu li a img {
  margin-right: 4px;
}

.sectionGeral .container .menu li a:hover {
  color: goldenrod;
}

.sectionGeral .container .menu li:hover {
  font-weight: bold;
  font-size: 24px;
}

.sectionGeral .container .menu li:after {
  width: 0;
  height: 4px;
  content: "";
  position: absolute;
  background-color: limegreen;
  left: 0;
  bottom: -2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sectionGeral .container .menu li:hover:after {
  left: 38px;
  width: 52%;
}

.footerGeral {
  width: 100%;
  right: 16px;
  bottom: 16px;
  position: fixed;
}

.footerGeral .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footerGeral .container .info a {
  padding: 4px;
}

.footerGeral .container .info a img {
  width: 24px;
  height: 24px;
}

/**Mobile**/
@media (max-width: 768px) {
  .sectionGeral {
    width: 40%;
  }
  .sectionGeral .container .menu li:hover:after {
    left: 32px;
    width: 56%;
  }
}

/**Mobile**/
@media (max-width: 620px) {
  .sectionGeral .container .menu li:hover:after {
    left: 24px;
    width: 60%;
  }
}

.sectionSobre {
  height: 100%;
  left: 30%;
  padding: 16px 4%;
  position: absolute;
}

.sectionSobre .container {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.sectionSobre .container .content span {
  color: dimgray;
}

/**Mobile**/
@media (max-width: 768px) {
  .sectionSobre {
    left: 40%;
  }
}

.sectionSkills {
  height: 100%;
  left: 30%;
  padding: 16px 4%;
  position: absolute;
}

.sectionSkills .container {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.sectionSkills .container .content li {
  padding-bottom: 16px;
  position: relative;
  list-style-type: none;
  letter-spacing: 1px;
}

.sectionSkills .container .content li:hover {
  font-weight: bold;
  font-size: 26px;
}

.sectionSkills .container .content li:after {
  width: 0;
  height: 4px;
  content: "";
  position: absolute;
  background-color: limegreen;
  left: 0;
  bottom: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sectionSkills .container .content li:hover:after {
  width: 100%;
}

/**Mobile**/
@media (max-width: 768px) {
  .sectionSkills {
    left: 40%;
  }
}
/*# sourceMappingURL=bundle.css.map */