.sectionContato {
    width: 74%;
    height: 90%;
    left: 26%;
    padding: 10px 4%;
    position: relative;

    .container {
        padding: 10px 4%;
        top: 50%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        position: absolute;
        transform: translateY(-60%);

        .content {
            font-size: 26px;

            span {
                color: dimgray;
            }
        }
    }
}

#contato-res {
    animation: info 4s linear 0.1s 1 normal none;

    @keyframes info {
        50%  {right:10%; bottom: 30%; position: absolute; transform: scale(2);}
    }
}

/**Mobile**/
@media (max-width: 768px) {
    .sectionContato {
        width: 60%;
        left: 40%;

        .container .content {
            font-size: 20px;
        }
    }

    #contato-res {
    
        @keyframes info {
            50%  {right:4%; bottom: 30%; position: absolute; transform: scale(1.2);}
        }
    }
}