*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Sans-serif;
}

html, body{
    height: 100%;
}

.sectionGeral{
    width: 30%;
    height: 100%;
    text-align: center;
    position: fixed;
    background-color: dimgray;

    .container{
        top: 50%;
        position: absolute;
        transform: translateY(-50%);

        .foto img{
            width: calc(70% + 32px);
            border-radius: 50%;
            border: 7px solid whitesmoke;
        }

        .menu{
            padding: 16px 4%;
            text-align: center;
            letter-spacing: 1.5px;
            word-spacing: 1.5px;

            li{
                list-style-type: none;

                a{
                    color: whitesmoke;
                    text-decoration: none;
                }
            }
        }
    }
}

/**Mobile**/
@media (max-width: 768px){
    .sectionGeral{
        width: 40%;
    }
}