* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Sans-serif;
}

html, body {
    height: 100%;
}

.sectionGeral {
    width: 26%;
    height: 100%;
    text-align: center;
    position: fixed;
    background-color: dimgray;

    .container {
        top: 50%;
        position: absolute;
        transform: translateY(-56%);

        .foto img {
            width: calc(90% - 24px);
            border-radius: 50%;
            border: 7px solid whitesmoke;
        }

        .menu {
            left: 16%;
            padding: 10px 2%;
            position: relative;
            
            li {
                width: fit-content;
                margin-bottom: 14px;
                position: relative;
                list-style-type: none;
                letter-spacing: 2.4px;
                // cursor: pointer;
                
                a {
                    color: whitesmoke;
                    text-decoration: none;

                    img {
                        margin-right: 4px;
                    }
                }

                a:hover {
                    color: goldenrod;
                }
            }

            li:hover {
                font-weight: bold;
                font-size: 24px;
            }

            li:before {
                width: 0;
                height: 4px;
                right: 0;
                bottom: -2px;
                content: "";
                position: absolute;
                background-color: limegreen;
                transition: 0.6s;
                transition-delay: 0s;
            }
        }
    }
}

@media (hover) {
    .sectionGeral .container .menu li:hover:before {
        width: 100%;
        left: 0;
        right: 0;
    }
}

/**Mobile**/
@media (max-width: 768px) {
    .sectionGeral {
        width: 40%;

        .container .foto img {
            width: calc(96% - 24px);
        }
    }
}