.sectionSkills {
    width: 74%;
    height: 90%;
    left: 26%;
    padding: 10px 4%;
    position: relative;

    .container {
        padding: 10px 4%;
        top: 50%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        position: absolute;
        transform: translateY(-50%);

        .content {
            font-size: 26px;
            
            li {
                width: fit-content; 
                padding-bottom: 16px;
                position: relative;
                list-style-type: none;
                letter-spacing: 1px;
                // cursor: pointer;   
            }

            li:hover {
                font-weight: bold;
                font-size: 32px;
            }

            li:before {
                width: 0;
                height: 4px;
                right: 0;
                bottom: 12px;
                content: "";
                position: absolute;
                background-color: limegreen;
                transition: 0.6s;
                transition-delay: 0s;
            }
        }
    }
}

/**Mobile**/
@media (max-width: 768px) {
    .sectionSkills {
        width: 60%;
        left: 40%;

        .container .content li {
            font-size: 20px;

            li:hover {
                font-size: 28px;
            }
        }
    }
}

@media (hover) {
    .sectionSkills .container .content li:hover:before {
        width: 100%;
        left: 0;
        right: 0;        
    }
}