.sectionSkills{
    height: 100%;
    left: 30%;
    padding: 16px 4%;
    position: absolute;

    .container{
        top: 50%;
        position: relative;
        transform: translateY(-60%);

        .content{
            
            li{
                padding-bottom: 16px;
                position: relative;
                list-style-type: none;
                letter-spacing: 1px;
                // cursor: pointer;                
            }

            li:hover{
                font-weight: bold;
                font-size: 26px;
            }

            li:after{
                width: 0;
                height: 4px;
                content: "";
                position: absolute;
                background-color: limegreen;
                left: 0;
                bottom: 16px;
                transition: 0.4s;
            }

            li:hover:after{
                width: 100%;
            }
        }
    }
}

/**Mobile**/
@media (max-width: 768px){
    .sectionSkills{
        left: 40%;
    }
}