.sectionSobre{
    height: 100%;
    left: 30%;
    padding: 16px 4%;
    position: absolute;

    .container{
        top: 50%;
        position: relative;
        transform: translateY(-60%);

        .content span{
            color: dimgray;
        }
    }
}

/**Mobile**/
@media (max-width: 768px){
    .sectionSobre{
        left: 40%;
    }
}