.sectionSobre {
    width: 70vw;
    height: 100vh;
    left: 30%;
    padding: 10px 4%;
    position: relative;

    .container {
        top: 50%;
        position: absolute;
        transform: translateY(-60%);

        .content span {
            color: dimgray;
        }
    }
}

/**Mobile**/
@media (max-width: 768px) {
    .sectionSobre {
        width: 60vw;
        left: 40%;
    }
}