*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Sans-serif;
}

html, body{
    height: 100%;
}

.sectionOne{
    width: 30%;
    height: 100%;
    text-align: center;
    position: fixed;
    background-color: dimgray;
}

.sectionOne .container{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.sectionOne .foto img{
    width: calc(70% + 32px);
    border-radius: 50%;
    border: 7px solid whitesmoke;
}

.sectionOne .menu{
    padding: 16px 4%;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
}

.sectionOne .menu a{
    text-decoration: none;
    color: whitesmoke;
}

.sectionTwo{
    height: 100%;
    left: 30%;
    padding: 16px 4%;
    position: absolute;
}

.sectionTwo .container{
    top: 50%;
    position: relative;
    transform: translateY(-60%);
}

.sectionTwo .content span{
    color: dimgray;
}

.sectionTwo .info{
    margin-top: 16px;
}

.sectionTwo .info a{
    text-decoration: none;
}

.sectionTwo .info img{
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
}

/**Mobile**/
@media (max-width: 768px){
    .sectionOne{
        width: 40%;
    }

    .sectionTwo{
        left: 40%;
    }
}